body {
	font-family: verdana;
	font-size: 0.7em;
}

#layoutTable {
	border: 0px;
	border-collapse:  collapse;
	margin: 0px;
	padding: 0px;
}

#canvasDiv {
	border: 1px solid black;	
	width:300px;
}

#debugConsoleDiv {
	border: 1px solid black;
	background-color: gray;
	font-family: Verdana;
	font-size: 12px;
	color: white;
	width:550px;
}

